[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
#pager		= less -SinXF
#default-character-set = utf8mb4
user=root


[mysqld_safe]
socket          = /var/run/mysqld/mysqld.sock
nice            = 0

[mysqld]
#user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
#basedir         = /usr
#datadir         = /var/lib/mysql/data
#tmpdir          = /var/lib/mysql/tmp
lc-messages-dir = /usr/share/mysql-8.0
skip-external-locking
bind-address            = 0.0.0.0
max_allowed_packet      = 16M
thread_stack            = 192K
thread_cache_size       = 8

binlog_expire_logs_seconds = 259200
max_binlog_size         = 100M
max_connections         = 300
innodb_buffer_pool_size   =8G
innodb_buffer_pool_instances = 2
innodb_file_per_table       = 1
innodb_flush_method         = O_DIRECT
innodb_data_file_path=ibdata1:250M:autoextend
innodb_flush_log_at_trx_commit  = 1

gtid_mode=ON
enforce-gtid-consistency=ON

general_log 		= OFF
general_log_file  	= /var/lib/mysql/mysql_general.log
log_error 		= ON
log_error 		= /var/lib/mysql/mysql_error.log
slow_query_log 		= OFF
#ilong_query_time 	= 10
log_queries_not_using_indexes 		= 0
slow_query_log_file 		= /var/lib/mysql/mysql_slow.log
innodb_log_file_size = 100M
innodb_doublewrite = 0
#skip_name_resolve = OFF

character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
default_authentication_plugin  = mysql_native_password

#log_warnings = 9
log_error_verbosity =3

server_id = 2080010801
log_bin = mysql-bin
max_binlog_size         = 100M
report_host = t00mon-zbx01
binlog_format           = ROW
relay-log                 = relay-bin
#max_relay_log_size        = 104857600
read_only = OFF
#slave-parallel-workers = 2

log_output=file
long_query_time=0
#log_slow_rate_limit=100
#log_slow_rate_type=query
#log_slow_verbosity=full
log_slow_admin_statements=ON
log_slow_slave_statements=ON
#slow_query_log_always_write_time=1
#slow_query_log_use_global_control=all
innodb_monitor_enable=all
#userstat=1
#log_slow_rate_limit=500

[mysqldump]
quick
quote-names
max_allowed_packet      = 16M

[mysql]
default-character-set = utf8mb4

[isamchk]
key_buffer              = 16M


